body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 20px;
}

.title {
  position: fixed;
  margin-top: -160px;
  left: 49%;
  transform: translateX(-50%); /*Adjust horizontal positioning */
  color: #00796b;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}
